.wrapper
{
    text-align: center;
}
md-button {
    position: absolute;
    top: 50%;
}
.hello
{
    padding-top: 50px;
    font-weight: bold;
    color:black;
}
.dialog
{   
    width:400px;
    height:80%;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 23px;
    width: 150px;
    height: 110;
}
.md-dialog {
    box-shadow: 0 0 2px 2px grey !important;
    border-radius: 10px !important;
}
.search
{
    padding: 20px;  
}
.search-input
{
    width: 250px;
}
.button
{
    border: 1px;
    border-style: solid;
    border-color: #a9a9a9;
    margin-left: 23px;
}